* {
    margin: 0%;
    padding: 0%;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    transition: 0.3s;
    font-family: "Aldrich";
    overflow-x: hidden;
    transition: all 0.2s !important;
}

@font-face {
    font-family: "Aldrich";
    src: url('../assets/fonts/aldrich/Aldrich-Regular.ttf') format("truetype");
}

.invisible {
    display: none !important;
}

body {
    background-color: #1c1c1c;
}

p {
    color: white;
    text-align: center;
}

#box {
 display: flex;
 width: 70%;
 background-color: rgba(0, 0, 0, 0);
 margin-left: 15%;
 overflow: hidden;
 margin-top: 50px;
}

.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000000;
    padding: 0.5%;
    color: white;
    text-align: center;
    width: 60%;

}
.top {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    padding: 1%;
}

h1{
    font-size: 40px;
    font-family: "Aldrich";
    font-weight: 900;
    color: #00fff2;
    word-spacing: 5px;
}

input {
    padding: 0.5%;
    width:40%;
    font-size: 18px;
    border-radius: 0px;
    font-family: "Aldrich";
    border: 1px solid #5c5c5c;
    outline: none;
    color: white;
    background-color: black;
    margin-top: 1%;
    transition: 0.3s;
    text-align: center;
}

input:focus-visible {
    border: 1px solid #0077ff;
    transition: 0.3s;
}

input:hover {
   border:  1px solid #0077ff;
    transition: 0.3s;
}

button {
    width: fit-content;
    background-color: black;
    color: #fff;
    text-transform: capitalize;
    padding: 0%;
    font-size: 20px;
    overflow: visible;
    display: block;
    cursor: pointer;
    transition: 0.3s;
    position: relative;
    border: none;
    background: linear-gradient(
    45deg,
    #ff0000,
    #ff7300,
    #fffb00,
    #48ff00,
    #00ffd5,
    #002bff,
    #7a00ff,
    #ff00c8,
    #ff0000
    );
    animation: changeColor 10s ease-in-out infinite;
    border: 1px solid #4f4f4f;
}
button::before {
    height: 100%;
    width: 100%;
    content: "";
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0; 
    backdrop-filter: blur(7px);
}
button p {
    font-size: 20px;
    background-color: #000;
    padding: 3%;
    height: fit-content;
    width: fit-content;
    z-index: 3234234;
    position: relative;
}
 button:hover {
    background-position-x: 100px;
    background-position-y: 100px;
    padding: 2px;
    font-weight: 550;
    border: none;
    box-shadow: 1px 1px 50px #ffffff3d;
    transition: all 0.2s ease-in-out;

} 
@keyframes changeColor {
    0% {
        background-position-x: 0px;
        background-position-y: 0px;
    }
    25% {
        background-position-x: 50px;
        background-position-y: 50px;
    }
    50% {
        background-position-x: 100px;
        background-position-y: 0px;
    }
    75% {
        background-position-x: 50px;
        background-position-y: -50px;
    }
    100% {
        background-position-x: 0px;
        background-position-y: 0px;
    }
}

button:active {
    transition: all 0.1s ease-in-out;
    transform: scale(1);
    box-shadow:  1px 1px 60px #00ffea;
}

.messageBox {
    color: white;
    display: block;
    padding: 1%;
    border-radius: 5px;
    text-align: center;
    border: 2px solid;
}
#attempt {
    color: white;
    display: block;
    font-size: 25px;
    text-align: center;

}
#attempts {
    color: white;
    display: block;
    text-align: center;

}
#attemptsDiv {
    text-align: center;

}

.holder {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
    padding: 1%;
    background-color: #000000;
    width: 63%;
}
.max {
    margin-top: 5%;
    width: 80%;
    margin-left: 10%;
}

#message {
    display: flex;
    flex-direction: column;
    padding: 1%;
    justify-content: center;
    align-items: center;
    background-color: black;
    gap: 30px;
    width: 40%;
    overflow: hidden;
    margin-top: 5%;
}
.win {
    animation: win 0.1s linear 1;
    animation-fill-mode: forwards;
}


#result {
    position: absolute;
    top: calc(10% - 100px);
    left: calc(50% - 100px);
    height: 250px;
    width: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 40px;
    z-index: 1000;
    background-color: black;
    border-radius: 10px;
    box-shadow: 5px 5px 15px black;
}
#result p {
    font-size: 25px;
}
#lose {
    animation: lose 0.5s linear 3;
}
/* #result button {
    padding-right: px;
}  */
#result button p{
    font-size: 20px;
}
@keyframes lose {
    0% {
        color: rgb(255, 255, 255);
    }
    50% {
        color: rgb(255, 0, 0);
    }
    100% {
        color: rgb(255, 255, 255);
    }
}
@keyframes win {
    0% {
    top: calc(50%);
    }
    100% {
    top: calc(50% - 100px);
    }
}
