* {
    margin: 0%;
    padding: 0%;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    transition: 0.3s;
    font-family: "Carlito";
}
@font-face {
    font-family: "Aldrich";
    src: url('../assets/fonts/aldrich/Aldrich-Regular.ttf') format("truetype");
}
@font-face {
    font-family: "Carlito";
    src: url('../assets/fonts/Carlito-Regular.ttf') format("truetype");
}
@font-face {
    font-family: "RobotoMono";
    src: url('../assets/fonts/RobotoMono-Regular.ttf') format("truetype");
}
:root {
    --base: ;
}
.invisible {
    display: none !important;
}
body {
    background-color: #1c1c1c;
}

p {
    color: white;
    font-size: larger;
    width: fit-content;
}
#box {
 display: flex;
 width: 75%;
 background-color: red;
 margin-left: 12.5%;
 height: 500px;
 overflow: hidden;
 margin-top: 50px;
}
.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000000;
    padding: 0.5%;
    color: white;
    text-align: center;
    width: 35%;

}
h1{
    font-size: 35px;
    font-family: "Aldrich";
    font-weight: 900;
    color: #00fff2;
    word-spacing: 5px;
}
input {
    padding: 0.5%;
    width:40%;
    font-size: 18px;
    border-radius: 0px;
    font-family: "RobotoMono";
    border: 1px solid #5c5c5c;
    outline: none;
    color: white;
    background-color: black;
    margin-top: 1%;
    transition: 0.3s;
}

input:focus-visible {
    border: 1px solid #0077ff;
    transition: 0.3s;
}

input:hover {
   border:  1px solid #0077ff;
    transition: 0.3s;
}

button {
    background-color: black;
    color: #fff;
    text-transform: capitalize;
    padding: 0.1%;
    font-size: 20px;
    overflow: visible;
    display: block;
    cursor: pointer;
    transition: 0.3s;
      position: relative;
      border: none;
      background: linear-gradient(
    45deg,
    #ff0000,
    #ff7300,
    #fffb00,
    #48ff00,
    #00ffd5,
    #002bff,
    #7a00ff,
    #ff00c8,
    #ff0000
  );
    backdrop-filter: blur(50px);
    background-position-x: 200px;
        background-position-y: 200px;
    backdrop-filter: blur(50px);
         animation: changeColor 10s ease-in-out infinite;
}
button::before {
    height: 100%;
    width: 100%;
    content: "";
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0; 
    backdrop-filter: blur(10px);
}
button p {
    font-size: 20px;
    background-color: #000;
    padding: 3%;
    height: fit-content;
    width: fit-content;
        z-index: 3234234;
    position: relative;
}
 button:hover {
    backdrop-filter: blur(50px);
    background-position-x: 100px;
        background-position-y: 100px;

    font-weight: 550;
    box-shadow: 1px 1px 50px rgb(0, 255, 213);
    transform: scale(1.1);    
    transition: all 0.3s ease-in-out;
             animation: changeShadow 2s ease-in-out infinite;

} 
@keyframes changeColor {
    0% {
        background-position-x: 0px;
        background-position-y: 0px;
    }
    25% {
        background-position-x: 100px;
        background-position-y: 100px;
    }
    50% {
        background-position-x: 200px;
        background-position-y: 0px;
    }
    75% {
        background-position-x: 100px;
        background-position-y: -100px;
    }
    100% {
        background-position-x: 0px;
        background-position-y: 0px;
    }
}
@keyframes changeShadow {
    0% {
            box-shadow: 1px 1px 50px rgb(0, 255, 213);
    }
    50% {
        box-shadow: 1px 1px 50px rgba(0, 255, 213, 0.452);
    }
     100% {
            box-shadow: 1px 1px 50px rgb(0, 255, 213);
    }
}


button:active {
    background-color: rgb(55, 255, 0);
    border: 1px solid transparent;
    transition: 0s;
}

.messageBox {
    color: white;
    background-color: rgb(8, 8, 140);
    display: block;
    padding: 1%;
}

#attempt {
    color: white;
    padding: 1%;
    display: block;
    border: 1px solid white;

}

.holder {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 1%;
    background-color: #000000;
    width: 63%;
}
